{% extends 'base.html' %}

{% block title %}
Meander | Search Jobs
{% endblock title %}

{% block content %}

<div class="container mt-5">
    <h2 class="mb-4 text-center">Resources</h2>
    <div class="row">
        <div class="col-md-12 video-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="video-title">How AI Resume Parsing Works</h5>
                            <p class="video-description">This video is for job seekers and HR professionals who want to understand the mechanics behind AI-powered resume parsing. It will help you learn how AI extracts and interprets data from resumes.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1nUgXnOq-y0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 video-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="video-title">Build your own AI recruit copilot in less than 10mins with OpenAI</h5>
                            <p class="video-description">Designed for tech enthusiasts and recruiters, this tutorial will guide you through creating an AI recruit copilot using OpenAI, enhancing your recruitment process within minutes.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qILT82AwiTQ" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 video-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="video-title">Does Autogen's AI Spell the End for Traditional HR? Unpacking the Shift</h5>
                            <p class="video-description">For HR professionals and business leaders, this video unpacks the transformative impact of Autogen's AI on traditional HR practices, discussing the future of human resources.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Hk6B1Jxsdm8" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 video-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="video-title">Build your own career advisor in Chat GPT</h5>
                            <p class="video-description">Aimed at career coaches and tech developers, this video teaches you how to build a career advisor using Chat GPT, helping clients with personalized career advice.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Pe884c7WH74" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 video-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="video-title">ChatGPT Level Ups for Recruiters</h5>
                            <p class="video-description">This video is perfect for recruiters looking to leverage ChatGPT for improving their recruiting strategies, offering tips and tricks to enhance efficiency and candidate engagement.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WkHic63nFIY" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extrajs %}

{% endblock extrajs %}
